.Hero {
  background-color: #1f1f1f;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100vh;
  width: 100%;
  .Hero-txt {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    @media (max-width: 768px) {
      align-items: center;
    }
    h1 {
      font-size: 4em;
      font-weight: 900;
      line-height: 1em;
      margin: 0;
      text-align: left;
      @media (max-width: 768px) {
        text-align: center;
      }
      @media (max-width: 375px) {
        font-size: 3em;
      }
    }
    h2 {
      line-height: 1em;
      font-weight: 300;
      @media (max-width: 768px) {
        text-align: center;
      }
    }
  }
}

.Project {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  @media (max-width: 375px) {
    flex-direction: column;
    margin: 2em 0 5em 0;
    height: auto;
  }
  .Project-img {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 50%;
    @media (max-width: 375px) {
      justify-content: center;
      width: 100%;
    }
    .Container {
      box-shadow: 0px 0px 10px #dddddd;
      height: 75%;
      width: 75%;
      @media (max-width: 768px) {
        height: 60%;
        width: 85%;
      }
      @media (max-width: 375px) {
        height: 100%;
        width: 100%;
      }
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: top;
      }
    }
  }
  .Project-txt {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    width: 50%;
    @media (max-width: 375px) {
      justify-content: center;
      width: 100%;
    }
    .Container {
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      justify-content: center;
      margin: 0 4em;
      height: 75%;
      width: 75%;
      @media (max-width: 768px) {
        align-items: center;
        margin: 0 2em;
        height: 85%;
        width: 85%;
      }
      @media (max-width: 375px) {
        margin: 0 1em;
        height: 100%;
        width: 100%;
      }
      .Project-txt-Title {
        font-size: 3em;
        font-weight: 900;
        line-height: 1em;
        text-align: right;
        @media (max-width: 375px) {
          font-size: 2em;
          text-align: center;
        }
      }
      .Project-txt-Subtitle {
        font-size: 1.25em;
        text-align: right;
        @media (max-width: 375px) {
          font-size: 1em;
          text-align: center;
        }
      }
    }
  }
  &.Right {
    flex-direction: row-reverse; 
    @media (max-width: 375px) {
      flex-direction: column;
    }
    .Project-img {
      justify-content: flex-end;
      @media (max-width: 375px) {
        justify-content: center;
      }
    }
    .Project-txt {
      justify-content: flex-start;
      @media (max-width: 375px) {
        justify-content: center;
      }
      .Container {
        align-items: flex-start;
        @media (max-width: 375px) {
          align-items: center;
        }
        .Project-txt-Title, .Project-txt-Subtitle {
          text-align: left;
          @media (max-width: 375px) {
            text-align: center;
          }
        }
      }
    }
  }
}

.About {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  .About-title {
    font-size: 3em;
    font-weight: 900;
    text-align: left;
    width: 75%;
    @media (max-width: 375px) {
      font-size: 2em;
      width: 85%;
    }
  }
  .About-txt {
    font-size: 1.25em;
    text-align: left;
    width: 75%;
    @media (max-width: 375px) {
      font-size: 1em;
      width: 85%;
    }
    a {
      color: #333333;
      font-weight: 700;
      text-decoration: none;
    }
  }
}

.Button {
  background-color: #ffffff;
  border-style: solid;
  border-width: 2px; 
  border-radius: 5px;
  font-weight: 700;
  font-size: 1em;
  margin: 2em 0;
  padding: 10px 25px;
  text-decoration: none;
  width: fit-content;
  &.Inactive {
    border-color: #dddddd !important;
    color: #dddddd !important;
    cursor: not-allowed;
  }
}

.Next-Section {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 2em;
  width: 100%;
  .Next-Icon {
    font-size: 0.75em;
  }
  span {
    font-weight: 700;
    margin-right: 0.5em;
  }
}
